.form_register{
    width: 500 px;
    margin: auto;
}

.form_register h1{
    color: black;
}

hr{
    border: 0;
    height: 1px;
    background: #0eaf6a;
    margin: 10px 0;
    display: block;
}

form{
    background: #ef8d3d;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
}

label{
    display: -webkit-inline-box;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px auto 5px auto;
}

input, select{
    display: auto;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929c;
    border-radius: 5px;
}


.btn_save{
    font-size: 14pt;
    background: #eefdf6;
    padding: 10px;
    color: #040404;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}

.alert{
    width: 100%;
    background: #0eaf6a;
    border-radius: 6px;
    margin: 20px auto;
}

.msg_error{
    color: black;
}

.msg_save{
    color: greenyellow;
}

.alert p{
    padding: 10px;
}